
.nav{
    grid-area: n;
    background-color: #1c73d1;
    padding: 10px;
    color: white;
    border-radius: 20px;
    height: 300px;
}
.item{
    transition: 0.5s;
    border-bottom: 1px solid dodgerblue;


}

.item:hover{
    border-bottom: 1px solid #f5fff6;
    background: #1967ba;
    cursor: pointer;
}
.item a{
    margin: 5px auto;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 100%;

}

.item a.active{
    color: #74ffe7;
}