.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
    grid-auto-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
        grid-gap: 10px;
}


.app-wrapper__content{
  grid-area: c;
  background-color: rgba(31, 138, 240, 0.38);
  padding: 10px;
  color: black;
  border-radius: 20px;
}



.content{
  background-color: rgba(34, 142, 255, 0.57);
  grid-area: c;
}
.content img{
  background-repeat: repeat;
  width: 80%;

  margin: 20px;
}